.gradle/
.settings/
bin/
build/
gradle/
build.gradle
gradlew
gradlew.bat
crash-reports/
logs/
options.txt
saves/
config/
lib/

# Ignore Gradle GUI config
#gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
#!gradle-wrapper.jar
#/bin/
